<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Anipet</title>
</head>
<body>
    <%- include('../layout') %>
    <h2><%= data %></h2>
    <div>
        <a href="/users/search" class="btn btn-primary">ค้นหา</a>
    </div>
    <hr>
    <h2>สวัสดีครับโหลวๆเทสๆ</h2>
    <p>by jeng</p>
    <hr>
    
</body>
</html>